.spacer {
  flex: 1 1 auto;
}

mat-toolbar {
  padding: 0 16px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 40px;
  width: auto;
  margin-right: 10px;
}

@media (max-width: 600px) {
  .spacer {
    display: none;
  }

  button[mat-icon-button] {
    margin-left: auto;
  }

  mat-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
