<mat-toolbar color="primary">
    <img src="logo.png" alt="Logo" class="logo">
    <span>Medicina 66</span>
    <span class="spacer"></span>

    <!-- Botão do Menu Hamburguer -->
    <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>menu</mat-icon>
    </button>

    <!-- Menu que será exibido ao clicar no ícone -->
    <mat-menu #menu="matMenu">
        <button mat-menu-item [routerLink]="'/home'">Home</button>
        <button mat-menu-item [routerLink]="'/sobre'">Sobre</button>
        <button mat-menu-item [routerLink]="'/servico'">Serviços</button>
        <button mat-menu-item [routerLink]="'/contato'">Contato</button>
    </mat-menu>
</mat-toolbar>